*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* ************************************HOME PAGE CSS***************************************** */

/* -----Navbar CSS-------- */
#navbar{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#navbar ul{
    display: flex;
    justify-content: center;
    padding-left: 5px;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 6px 18px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* -----Navbar logo CSS-------- */
#logo{
    justify-content: flex-start;
}
#navbar #logo img{
    height: 17vh;
    width: 17vh;
    margin-top: 10px;
}

/* -----Navbar Book Appointment CSS-------- */
#bookAppointment{
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    padding-left: 50px;
    
}
#bookAppointment li a{
    color: #ff4f4f;
    display: block;
    padding: 6px;
    border-radius: 20px;
    text-decoration: none;
}
#bookAppointment li a:hover{
    color: black;
    background-color: white;
}

/* ****************Home Page CSS*************** */
#home{
    justify-content: center;
    align-items: center;
    margin: 150.5px 0px;
}
#home::before{
    background: url(../img/homebg.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.7;
}
#home::after{
    background-color: rgba(245, 155, 155, 0.19);
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* -----About us CSS-------- */
#aboutus{
    position: relative;
}
/* #aboutus::before{
    content: "";
    background-color: rgb(146, 51, 51);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.7;
} */
#mission{
    display: flex;
    flex-wrap: wrap;

}
#mission .about{
    /* border: 2px solid black; */
    background-color: #111142;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
/* -----Our Services CSS-------- */
#Services{
    position: relative;
}
/* #Services::before{
    background: url(../img/servicesbgh.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.7;
} */
#servicesContainer{
    display: flex;
    flex-wrap: wrap;

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px; */
}
.box{
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: #111142;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
/* .box::before{
    content: "";
    background-color: rgb(146, 51, 51);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.19;
} */
/* #HealthCare{
    content: "";
    background: url(../img/home-health-care.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.7;
} */

/* -----Our Doctor CSS-------- */
#ourdoctor{
    position: relative;
}
.doctor{
    display: flex;
}
.docProfile img{
    height: 150px;
    width: 150px;
    border-radius: 80%;
}
.depname{
    color: #d35858;
    font-size: 2rem;
    padding: 20px;
}
/* -----Contact us CSS-------- */
#contact{
    position: relative;
}
#contact::after{
    content: "";
    background-color: darkslategrey;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#contact::before{
    content: "";
    background: url(../img/contactus.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
.contact-flexbox{
    display: flex;
    justify-content: space-between;
    padding-left: 10vh;
}
#contact-box{
    display: flex;
    padding: 14px 0px;
}
#contact-box form{
    width: 100%;
}
.form .form-group{
    padding: 10px 0px;
}
#contact-box label{
    font-size: 1.5rem;
    color: white;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-info{
    margin-top: 3vh;
}
#contact-info .flex{
    display: flex;
    margin: 6vh 8vh;
}
#contact-info h3{
    color: #6befef;
    font-size: 2rem;
}
#contact-info .flex h3{
    padding-left: 30px;
    font-size: 1.3rem;
    color: white;
}
.button {
    display: block;
    background-color: #120c83;
    font-size: 1.7rem;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 4px 16px;
    cursor: pointer;
    margin: 0 auto;
}
.button:hover{
    background-color: #242164;
}
/* -----Footer CSS-------- */
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}


/* ************************************About us PAGE CSS***************************************** */
.container .heading{
    text-align: center;
    color: #6befef;
    background-color: black;
    font-size: 1.8rem;
    font-weight: bold;
}
#missions p{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}
#chairman{
    display: flex;
    gap: 20vh;
    margin-top: 8vh;
}
#chairman img{
    margin-left: 23vh;
    height: 437px;
    border: 2px solid #002780;
    border-radius: 9px;
}
#chairman p{
    /* margin: 30px; */
    border: 2px solid #002780;
    background-color: #111142;
    width: 55%;
    border-radius: 9px;
}

/* ************************************Services PAGE CSS***************************************** */
#ourservices{
    /* margin: 34px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-row-gap: 60px;
}
#ourservices .Service-box{
    /*border: 2px solid brown;*/
    padding: 15px;
    margin: 2px 55px;
    border-radius: 28px;
    background-color: #111142;

}
#ourservices .Service-box img{
    height: 18%;
    width: 50%;
    margin: 10px 45px;
    /* object-fit: fill; */
    border-radius: 100%;
}
#ourservices h3{
    text-align: center;
    color: #6befef;
    font-size: 1rem;
}
#ourservices p{
    font-size: 1rem;
}

/* ************************************Departments PAGE CSS***************************************** */
#ourDepartments{
    /* margin: 34px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-row-gap: 60px;
}
#ourDepartments .dept{
    padding: 15px;
    margin: 2px 55px;
    border-radius: 28px;
    background-color: #111142;
}
#ourDepartments h3{
    text-align: center;
    color: #6befef;
    font-size: 1.6rem;
}

/* ************************************Doctors PAGE CSS***************************************** */
#dr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-row-gap: 60px;
}
#dr .dprofile{
    padding: 15px;
    margin: 2px 55px;
    border-radius: 10px;
    background-color: #111142;
}
#dr .dprofile img{
    height: 18%;
    width: 50%;
    margin: 10px 45px;
    border-radius: 100%;
}
#dr .dprofile h3{
    text-align: center;
    color: #6befef;
    font-size: 1.5rem;
}
#dr .dprofile h5{
    text-align: center;
    color: #d35858;
    padding-top: 20px;
    font-size: 1.3rem;
}

/* ************************************Time Table PAGE CSS***************************************** */
.table{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20vh;
    }
table, th,td{
    color: white;
    background-color: #4779a8;
    border: 2px solid white;
    margin: 20px;
 }
th{
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
}

/* ****************Utility Classes CSS*************** */
/* .container{
    background-color: rgb(69 69 74);
} */
.h-main{
    color: rgb(10, 9, 90);
    font-size: 5.5rem;   
}
.h-primary{
    color: rgb(10, 9, 90);
    /* background-color: black; */
    font-size: 3rem;
    padding: 20px;
}
.h-secondary{
    color: #6befef;
    font-size: 2rem;
    text-align: center;
}
p{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}
.center{
    text-align: center;
}
